@import "../modules/all";
@import "../modules/colors";
@import "../partials/typography";

.button {
  background-color: $bg-color;
  border: none;
  border-radius: 45px;
  padding: 10px 20px;
  margin: auto;
  margin-right: 50px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  outline: none;
  &:hover {
    background-color: $text-color-white;
    border: solid 2px #d1233d;
    box-shadow: 0px 15px 20px rgba(100, 13, 0, 0.4);
    color: $bg-color;
    transform: translateY(-7px);
  }
}

.button--recipes {
  @extend .button;
  background-color: #800003;
  text-decoration: none;

  &:hover {
    background-color: $text-color-white;
    border: solid 2px #800003;
    box-shadow: 0px 15px 20px rgba(100, 13, 0, 0.4);
    color: #800003;
    transform: translateY(-7px);
  }
}

.button--classes {
  text-align: center;
}
