@import "../modules/all";

.image-recipe {
  @include sizes(18rem);
}

div {
  position: relative;
  padding: 10px;
  .recipe {
    text-align: center;
    .button--recipes {
      margin: auto;
    }
  }
}

// .image-home {
//   @include sizes(10rem);
// }

div {
  position: relative;
  padding: 10px;
  .card-home {
    text-align: center;
    .image-recipe {
      margin: auto;
    }
  }
}
