@import "../modules/all";

.image-recipe {
  @include sizes(18rem);
}

div {
  position: relative;
  padding: 10px;
  .recipe {
    text-align: center;
    .button--recipes {
      margin: auto;
    }
  }
}

.image-team {
  border-radius: 8px;
  margin: 10px;
  width: 100%;
}

.body-team {
  text-align: center;
  padding: 1rem;
}
