@import "../modules/all";
@import "../modules/colors";
@import "../partials/typography";

a svg:hover {
  fill: $primary-color;
  transform: scale(1.5);
}

#footer-nav li:hover a {
  font-weight: 600;
  transform: scale(1.1);
}
